LOCATE COMP "clk" SITE "G2";
LOCATE COMP "reset" SITE "D6";  # Button PWR
LOCATE COMP "hsync" SITE "B11"; # GP0
LOCATE COMP "vsync" SITE "A10"; # GP1
LOCATE COMP "r[0]" SITE "A9";   # GP2
LOCATE COMP "r[1]" SITE "B9";   # GP3
LOCATE COMP "r[2]" SITE "A7";   # GP4
LOCATE COMP "g[0]" SITE "C8";   # GP5
LOCATE COMP "g[1]" SITE "C6";   # GP6
LOCATE COMP "g[2]" SITE "A6";   # GP7
LOCATE COMP "b[0]" SITE "A4";   # GP8
LOCATE COMP "b[1]" SITE "A2";   # GP9
LOCATE COMP "b[2]" SITE "C4";   # GP10

IOBUF PORT "reset" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "hsync" IO_TYPE=LVCMOS33;
IOBUF PORT "vsync" IO_TYPE=LVCMOS33;
IOBUF PORT "r[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "r[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "r[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "g[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "g[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "g[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "b[2]" IO_TYPE=LVCMOS33;
