LOCATE COMP "reset" SITE "D6";
LOCATE COMP "clk" SITE "G2";
LOCATE COMP "hsync" SITE "H3";
LOCATE COMP "vsync" SITE "E1";
LOCATE COMP "r[0]" SITE "B2";
LOCATE COMP "r[1]" SITE "C2";
LOCATE COMP "r[2]" SITE "C1";
LOCATE COMP "g[0]" SITE "D2";
LOCATE COMP "g[1]" SITE "D1";
LOCATE COMP "g[2]" SITE "E2";
LOCATE COMP "b[0]" SITE "C16";
LOCATE COMP "b[1]" SITE "U17";
LOCATE COMP "b[2]" SITE "B17";

IOBUF PORT "reset" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
IOBUF PORT "hsync" IO_TYPE=LVCMOS33;
IOBUF PORT "vsync" IO_TYPE=LVCMOS33;
IOBUF PORT "r[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "r[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "r[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "g[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "g[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "g[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "b[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "b[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "b[2]" IO_TYPE=LVCMOS33;
