LOCATE COMP "clkin" SITE "G2";
IOBUF PORT "clkin" IO_TYPE=LVCMOS33;

LOCATE COMP "reset_n" SITE "D6";
IOBUF PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "LEDs[0]" SITE "B2";
LOCATE COMP "LEDs[1]" SITE "C2";
LOCATE COMP "LEDs[2]" SITE "C1";
LOCATE COMP "LEDs[3]" SITE "D2";
LOCATE COMP "LEDs[4]" SITE "D1";
LOCATE COMP "LEDs[5]" SITE "E2";
LOCATE COMP "LEDs[6]" SITE "E1";
LOCATE COMP "LEDs[7]" SITE "H3";

IOBUF PORT "LEDs[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDs[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDs[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDs[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDs[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDs[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDs[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "LEDs[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "switches[0]" SITE "C11";
LOCATE COMP "switches[1]" SITE "B11";
LOCATE COMP "switches[2]" SITE "A11";
LOCATE COMP "switches[3]" SITE "A10";
LOCATE COMP "switches[4]" SITE "B10";
LOCATE COMP "switches[5]" SITE "A9"; 
LOCATE COMP "switches[6]" SITE "C10";
LOCATE COMP "switches[7]" SITE "B9";

LOCATE COMP "switches[8]" SITE "D8";
LOCATE COMP "switches[9]" SITE "R1";
LOCATE COMP "switches[10]" SITE "D7";
LOCATE COMP "switches[11]" SITE "E7";

IOBUF PORT "switches[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[7]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[8]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[9]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[10]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "switches[11]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "segdis[0]" SITE "D16";
LOCATE COMP "segdis[1]" SITE "C17";
LOCATE COMP "segdis[2]" SITE "C15";
LOCATE COMP "segdis[3]" SITE "D17";
LOCATE COMP "segdis[4]" SITE "L17";
LOCATE COMP "segdis[5]" SITE "M17";
LOCATE COMP "segdis[6]" SITE "P16";
LOCATE COMP "segdis[7]" SITE "C16";
LOCATE COMP "segdis[8]" SITE "U17";
LOCATE COMP "segdis[9]" SITE "B17";

IOBUF PORT "segdis[0]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[1]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[2]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[3]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[4]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[5]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[6]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[7]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[8]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[9]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[10]" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "segdis[11]" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "avr_rx" SITE "L4";
LOCATE COMP "avr_tx" SITE "M1";

IOBUF PORT "avr_tx" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "avr_rx" PULLMODE=UP IO_TYPE=LVCMOS33;


